<div [formGroup]="reportForm" class="form-container">
  <h4>Добавить отчет</h4>
  <div class="form-content">
    <h3>*Выберите не менее двух регионов</h3>
    <mat-form-field appearance="fill">
      <mat-select
        formControlName="multipleRegions"
        multiple
        placeholder="Выбрать"
      >
        <mat-option>
          <ngx-mat-select-search
            [formControl]="multiSearchControl"
            [placeholderLabel]="'Поиск'"
            [noEntriesFoundLabel]="'Не найдено ни одного региона'"
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option
          *ngFor="let region of filteredMultiRegions | async"
          [value]="region"
        >
          {{ region.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="reportForm.get('multipleRegions')?.hasError('minlength')">
        Необходимо выбрать минимум 2 региона
      </mat-error>
    </mat-form-field>

    <h3>*Выберите один регион из списка</h3>
    <mat-form-field appearance="fill">
      <mat-select
        formControlName="singleRegion"
        placeholder="Выбрать"
      >
        <mat-option>
          <ngx-mat-select-search
            [formControl]="singleSearchControl"
            [placeholderLabel]="'Поиск'"
            [noEntriesFoundLabel]="'Не найдено ни одного региона'"
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option
          *ngFor="let region of filteredSingleRegions | async"
          [value]="region"
        >
          {{ region.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="reportForm.get('singleRegion')?.hasError('required')">
        Необходимо выбрать один регион
      </mat-error>
    </mat-form-field>
  </div>

  <h4>Нужно заполнить поля, отмеченные *</h4>
  <div class="button-container">
    <button mat-raised-button color="primary" type="submit" [disabled]="!reportForm.valid" (click)="onSubmit()">
      Добавить отчет
    </button>
  </div>
</div>
